<!--
    Barra padrão do Bootstrap

    https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav>
    <a class="t" href="/">Crypto</a>
    <a href="/sobre">Sobre</a>
    <div class="animation start-home"></div>
</nav>